%nav.navbar.navbar-default#navbar
  .navbar-container#navbar-container
    .navbar-header.pull-left
      %button.navbar-toggle{type: "button", data: {toggle:"collapse", target:".navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Todo App', root_path, class: 'navbar-brand'
